<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Articles</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <button class="nav-link" routerLink="/add-article" routerLinkActive="active">Ajouter un article</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" routerLink="/add-commande" routerLinkActive="active">Ajouter une commande</button>

        </li>
        <li>
          <button class="nav-link" routerLink="/commande" routerLinkActive="active">Liste des commandes</button>

        </li>
        <li>
          <button class="nav-link" routerLink="/searchByPrice" routerLinkActive="active">Filtrer les articles</button>

        </li>
        <!-- Autres éléments de la navbar -->
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet> <!-- Cela affiche le composant en fonction de la route active -->
